body {
    background-color: skyblue;
}

h1 {
    background-color: yellow;
    color: blue;
    padding: 50px;
    text-align: center;
}

p {
    color: green;
    background-color: orange;
    padding: 15px;
}

h2 {
    text-align: center;
}